{%extends "base.html"%}

{%block contents%}
<a href="{{ url_for('student_page') }}"><img src="{{ url_for('static', filename='images/back.png') }}" style="width: 50px; height: 50px;">
</a>
<form method='POST' action="" class="deliver">
	<input name="student_full_name" placeholder="full name" type="text" class="text"><br>
	<input name="year_group" placeholder="year group" type="text" class="text"><br>
	<input name="house" placeholder="house" type="text" class="text"><br>
	<input name="student_email" placeholder="student email"type="text" class="text"><br>
	<input name="password" placeholder="password"type="password" class="text"><br>
	<input type="submit" value = "submit" class="submit">
</form>
{%endblock%}
