{%extends "base.html"%}

{%block contents%}
<a href="{{ url_for('teacher_page') }}"><img src="{{ url_for('static', filename='images/back.png') }}" style="width: 50px; height: 50px;">
</a>
<form method='POST' action="" class="deliver">
<input name="teacher_full_name" placeholder="full name" type="text" class="text"><br>
<input name="house" placeholder="house" type="text" class="text"><br>
<input name="teacher_email" placeholder="teacheremail" type="text" class="text"><br>
<input name="password" placeholder="password" type="password" class="text"><br>
<input type="submit" value = "submit" class="submit">
</form>
{%endblock%}
